.action__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.action__btn a {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.action__btn a svg {
    transform: scale(0.8);
}

.action__btn a.edit {
    background-color: #38b000;
    color: #fff;
}

.action__btn a.edit:hover {
    background-color: #226b00;
}

.action__btn a.delete {
    background-color: #d00000;
    transition: all 0.45s;
}

.action__btn a.delete:hover {
    background-color: #870000;
}

.feature_list {
    position: relative;
    overflow: hidden;
}

.feature_list a {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #d00000;
    transition: all 0.45s;
    position: absolute;
    right: 0;
    transform: translateX(30px);
}

.feature_list:hover a {
    transform: translateX(-5px);
}

.feature_list a svg {
    transform: scale(0.8);
}

.feature_list div {
    display: flex;
    flex-wrap: wrap;
}


/* message card floating card*/
.message {
    width: 50%;
    max-height: 80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -800%);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.2);
    z-index: 10000;
    transition: all 0.3s ease-in;
    border: 1px solid rgba(128, 128, 128, 0.648);
    overflow: hidden;
}

.message.active {
    transform: translate(-50%, -250%);
}

.message .card_header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.648);
    padding: 10px 20px 10px 10px;
    font-weight: 600;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}

.message .card_header span {
    width: 25px;
    background-color: #202020;
    color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.message .card_body {
    padding: 10px;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.message .card_body .message_con {
    height: 100%;
    width: 100%;
}
